<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jisoo.board.mapper.AdminMapper">
	<update id="deleteBoard">
		UPDATE TBL_BOARD
		SET
			DELETED_AT = SYSDATE
		WHERE
			BOARD_ID = #{boardID}
	</update>
	
	<update id="recoveryBoard">
		UPDATE TBL_BOARD
		SET
			DELETED_AT = NULL
		WHERE
			BOARD_ID = #{boardID}
	</update>
  </mapper>