<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jisoo.board.mapper.BoardMapper">
  	<insert id="insertBoard" parameterType="com.jisoo.board.domain.BoardVo">
  		INSERT INTO TBL_BOARD(TITLE, CONTENT, WRITER_ID, WRITER_NAME)
  		VALUES(#{title}, #{content}, #{writerId}, #{writerName})
  	</insert>
  	
  	<select id="selectAllBoards" resultType="com.jisoo.board.domain.BoardVo">
  		SELECT *
  		FROM TBL_BOARD
  		WHERE deleted_at IS NULL
  		ORDER BY board_id DESC
  	</select>
  	
  	<select id="selectBoard" resultType="com.jisoo.board.domain.BoardVo">
  		SELECT *
  		FROM TBL_BOARD
  		WHERE BOARD_ID = #{boardId}
  	</select>
  	
  	<select id="isOwner">
  		SELECT COUNT(*)
  		FROM TBL_BOARD
  		WHERE WRITER_ID = #{userId}
  		AND
  		BOARD_ID = #{boardId}
  	</select>
  </mapper>