<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jisoo.board.mapper.UserMapper">
  	<!-- 重複確認 -->
  	<select id="existsByLoginId" resultType="int">
  		select count(*)
  		from TBL_USER
  		where LOGIN_ID = #{userId}
  	</select>
  	
  	<insert id="insertUser">
  		insert into TBL_USER(LOGIN_ID, PASSWORD, NICKNAME)
  		values(#{userId}, #{userPw}, #{nickname})
  	</insert>
  	
  	<select id="findByLoginId" parameterType="string" resultType="com.jisoo.board.domain.UserVo">
	  SELECT *
	  FROM TBL_USER
	  WHERE LOGIN_ID = #{loginId}
	</select>
	
	<select id="findByUserId" parameterType="Long" resultType="com.jisoo.board.domain.UserVo">
	  SELECT *
	  FROM TBL_USER
	  WHERE USER_ID = #{userId}
	</select>
	
	<select id="findPasswordByUserId" parameterType="Long">
		SELECT
			PASSWORD
		FROM
			TBL_USER
		WHERE USER_ID = #{userId}
	</select>
	
	<update id="updateUserInfo">
		UPDATE TBL_USER
		SET NICKNAME = #{nickname}
		WHERE USER_ID = #{userId} 
	</update>
	
	<update id="updatePassword">
		UPDATE TBL_USER
		SET PASSWORD = #{password}
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="countTodayUser">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE TRUNC(CREATED_AT) = TRUNC(SYSDATE)
	</select>
	
	<select id="findUsers" resultType="com.jisoo.board.domain.UserVo">
	    SELECT *
	    FROM (
	        SELECT t.*, ROWNUM rn
	        FROM (
	            SELECT *
	            FROM TBL_USER
	            <where>
	            AND ROLE != 'ROLE_ADMIN'
	                <if test="keyword != null and keyword != ''">
	                    AND (
	                        USER_ID LIKE '%' || #{keyword} || '%'
	                        OR LOGIN_ID LIKE '%' || #{keyword} || '%'
	                        OR NICKNAME LIKE '%' || #{keyword} || '%'
	                    )
	                </if>
	
	                <if test="role != null and role != ''">
	                    AND ROLE = #{role}
	                </if>
	            </where>
	            ORDER BY CREATED_AT DESC
	        ) t
	        WHERE ROWNUM &lt;= #{offset} + #{limit}
	    )
    	WHERE rn &gt; #{offset}
	</select>
	
	<update id="updateRole">
		UPDATE TBL_USER
		SET ROLE = #{role}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="suspendUser">
	    UPDATE TBL_USER
	    SET status = 'SUSPENDED',
	        suspended_until = #{until}
	    WHERE user_id = #{userId}
	</update>
	
	<update id="banUser">
	    UPDATE TBL_USER
	    SET status = 'BANNED',
	        suspended_until = NULL
	    WHERE user_id = #{userId}
	</update>
	
	<update id="unsuspendUser">
	    UPDATE TBL_USER
	    SET status = 'ACTIVE',
	        suspended_until = NULL
	    WHERE user_id = #{userId}
	</update>
  </mapper>